div {

    font: 20px;
    width: 150px;
    height: 250px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    border: 4px solid black;
}
#navbar, #navbar:hover {
    background-color: black;
    height: 50px;
    width: 90%;
    margin: 20px;
    text-align: right;
    border-radius: 15px;
}

#inventory{
    height: 30px;
    font-weight: 25px;
    width: 150px;
    display: inline-block;


}
html{
    background-color: rgb(122, 11, 11);
}
#inventory:hover{
    height: 30px;
    font-weight: 25px;
    width: 150px;
    display: inline-block;
    margin: 4px;
}
div:hover {
    font: 30px;
    width: 160px;
    height: 260px;
    margin: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
img {
    width: 80%;
}  
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}
.modal-cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}
#myModal, #myModal:hover {
    background-color: rgb(0, 0, 0, 0.9);
    width: 580px;
    height: 480px;
    align-items: center;
    justify-content: center;
}

.modal-cover:hover, .modal:hover{
    background-color: rgb(0, 38, 255);
    font: 30px;
    width: 180px;
    height: 270px;
    margin: 20px;

}
#pokemonDetails{
    background-color: rgb(255, 255, 255);
    font: 20px;
    width: 180px;
    height: 350px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    margin: 0px;

}
#pokemonDetails:hover{
    background-color: rgb(172, 171, 171);
    font: 20px;
    width: 180px;
    height: 350px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    margin: 0px;
}

.sposta {
    transition: transform 0.5s;
}

#pokemonDetails.mostra {
    transform: translate(-50%, -50%);
}

#closeModal {
    position: absolute;
    bottom: 10px;
}

button{
    cursor: pointer;
    border-radius: 5px;
   
    background-color: rgb(137, 52, 216);
    color: white;
    border: 2px solid rgb(88, 7, 134);
    margin: 4px;
    font-size: 15px;
}


button:hover{
    cursor: pointer;
    border-radius: 5px;
    height: 22px;
    width: 62px;
    margin: 3px;
    background-color: rgb(128, 7, 241);
}

.details {
    flex: 1;
    margin: 10px;
}

.details {
    display: inline-block;
    margin-right: 10px;
}


tr, td, th{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

}

#caratteristiche, #caratteristiche:hover{
    height: 290px;
    width: 300px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;

}


h6{
    display: inline-block;
    color: white;
    font-size: 17px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
h5{
    display: inline-block;
    color: white;
    font-size: 17px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
h4{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
h3{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
h2{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
h1{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 32px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

#tornaInAlto {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: solid black 2px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    z-index: 999;

}
#tornaInAlto:hover {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #064385;
    color: #fff;
    border: solid black 3px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    z-index: 999;
}

#See_more{
    height: 50px;
    width: 100px;
    position: fixed;
    display: none;
    bottom: 10px;
    left: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 999;
    
}

body{
    margin-bottom: 100px;
}

